apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: siae-media
  namespace: siae
  labels:
    app: siae-media
    release: prometheus
spec:
  selector:
    matchLabels:
      app: siae-media
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 30s
      scrapeTimeout: 10s
      scheme: http
  namespaceSelector:
    matchNames:
      - siae
